### Scatter

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
from dash import Dash, html, dcc, Input, Output
import plotly.io as pio
pio.renderers.default = 'browser'
%pip install nbformat>=4.2.0 
age_array = np.random.randint(25, 30, 45)
income_array = np.random.randint(300000, 350000, 500000)

fig = go.Figure()

fig.add_trace(go.Scatter(x = age_array, y= income_array, mode='markers', marker=dict(color='blue')))
fig.update_layout(title="Age vs Income", xaxis_title="Age", yaxis_title="Income")
fig.show()

### DashbOard with Dash

In [2]:
age_array = np.random.randint(25, 30, 45)
income_array = np.random.randint(300000, 350000, 500000)

fig = go.Figure()
fig.add_trace(go.Scatter(x=age_array, y=income_array, mode='markers', marker=dict(color='blue')))

app = Dash(__name__)

app.layout = html.Div(
    children=[html.H1("Age vs Income", 
                      style={"color":"1a2c1b",
                             "font_size":40,
                             "textAlign":"center"
                             }),
            html.P('Age en fonction du salaire r√©quis', style={
                'textAlign':"center",
                "color":"1a1b1c",
                "font-size":20

            }),
            dcc.Graph(figure=fig),
                             ]
)

if __name__=='__main__':
    app.run()

Address already in use
Port 8050 is in use by another program. Either identify and stop that program, or start the server with a different port.

SystemExit: 1

/home/dona-erick/Parcours-ML-Engineer/env_news/lib/python3.13/site-packages/IPython/core/interactiveshell.py:3680: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.

In [4]:
import pandas as pd
df = pd.read_csv('../Dash_Plotly/global_cancer_patients_2015_2024.csv')
df.head()

,Patient_ID,Age,Gender,Country_Region,Year,Genetic_Risk,Air_Pollution,Alcohol_Use,Smoking,Obesity_Level,Cancer_Type,Cancer_Stage,Treatment_Cost_USD,Survival_Years,Target_Severity_Score
0,PT0000000,71,Male,UK,2021,6.4,2.8,9.5,0.9,8.7,Lung,Stage III,62913.44,5.9,4.92
1,PT0000001,34,Male,China,2021,1.3,4.5,3.7,3.9,6.3,Leukemia,Stage 0,12573.41,4.7,4.65
2,PT0000002,80,Male,Pakistan,2023,7.4,7.9,2.4,4.7,0.1,Breast,Stage II,6984.33,7.1,5.84
3,PT0000003,40,Male,UK,2015,1.7,2.9,4.8,3.5,2.7,Colon,Stage I,67446.25,1.6,3.12
4,PT0000004,43,Female,Brazil,2017,5.1,2.8,2.3,6.7,0.5,Skin,Stage III,77977.12,2.9,3.62